


<!-- <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="/dashboard" class="nav-link link-dark">
          <i class="fa-solid fa-gauge"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="/products" class="nav-link link-dark">
          <i class="fa-solid fa-grip"></i>
          Products
        </a>
      </li>
      <li>
        <a href="/users" class="nav-link link-dark">
          <i class="fa-solid fa-circle-user"></i>
          Customers
        </a>
      </li>
    </ul>
</div> -->

<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
              <a class="nav-link" href="/dashboard">
                  <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                  Dashboard
              </a>
              <a class="nav-link" href="/products">
                  <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                  Products
              </a>
          </div>
      </div>
      <div class="sb-sidenav-footer">
          <div class="small">Logged in as:</div>
          Start Bootstrap
      </div>
  </nav>
</div>